table {
    border-collapse: collapse;
    background-repeat: no-repeat;
    width: 612px;
    margin: auto 
  }
  td {padding: 0; margin: 0;}
  th {padding: 0; margin: 0;}

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
  }

  .header { 
    background-color: rgb(45, 70, 71);
    color: azure;
    height: 100px;
    text-align: center;
    line-height: 100px;
  }
  .toolbar {
    background-color: rgb(177, 247, 224);
    margin-bottom: 10px;
  }
  .tab {
    margin: 10px;
    width: 10px;
    display: inline;
  }
  .container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
  #content {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  #footer {
    width: 100%;
    height: 2.5rem;            /* Footer height */
    background-color: rgb(45, 70, 71);
    color: white;
    line-height: 2.5rem;
  }
  #footer img {
    height: 80%;
    width: auto;
    margin: 0.25rem;
  }
  #me {
    display: inline;
    background-color: rgb(177, 247, 224);
    border-radius: 10px;
    margin: 0.25rem;
    color: rgb(45, 70, 71);
    height: 100%;
    vertical-align: top;
    padding: 5px;
  }
  a:link, a:visited{
    text-decoration: none;
  }

  #computer img {
    display: block;
    margin: auto;
    height: 150px;
  }

  .board {
    width: 100%; 
    height: 217px;
  }
  .cupcell {
      width: 70px;
      position: relative;
  }
  .goal {
      position: relative;
      width: 70px;
  }
  .cup {position: relative;}
  .cupnum {
      position: absolute;
      top: 50%;
      left: 38%;
      transform: translate(-50%, -50%);
  }
  .goalnum {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Fiddling with some elements alignments */
  #p1_goal {left: -7px;}
  #p2_goal {left: -3px;}
  #cup11, #cup21 {left: 0px;}
  #cup12, #cup22 {left: 0px;}
  #cup16, #cup26 {left: -3px;}